.hamburger-menu-icon {
  cursor: pointer;
  height: 20px;
  width: 28px;
  position: relative;

  .line,
  .line::before,
  .line::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000;
  }

  .line {
    display: block;
    top: 50%;
    transform: translateY(-50%);
  }

  .line::before {
    content: '';
    top: -8px;
  }

  .line::after {
    content: '';
    bottom: -8px;
  }
}

@media screen and (min-width:1024px) {
  .hamburger-menu-icon {
    display: none;
  }
}