.modal-backdrop {
  z-index: 100;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);

  .modal-container {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    background-color: #fff;
    width: 90%;
    max-width: 600px;
    padding: 30px 40px 40px;

    .modal-close-btn {
      position: absolute;
      height: 20px;
      width: 20px;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }

    .modal-title {
      font-family: var(--secondary-font-thin);
      font-size: var(--heading-font-size);
      text-align: center;
      padding: 20px;
      letter-spacing: 2px;
    }

    .modal-btn-group {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }
}