@use "../../main";

$pdp-font-size: .9rem;

#product-display-page {
  font-size: $pdp-font-size;
  margin: auto;
  max-width: 1440px;

  .product-description {
    width: 100%;
    padding: 30px 20px 80px;
    @include main.flex($direction: column);
    margin: auto;

    .name {
      line-height: 1.5;
    }

    .price {
      font-family: var(--secondary-font);
      font-size: 1.3rem;
    }

    .dropdown-container {
      @include main.flex($direction: column);

      .add-to-cart-btn {
        margin-top: 10px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  #product-display-page {
    @include main.flex($gap: 30px);
    font-size: 1rem;
    justify-content: center;
    padding: 100px;

    .product-image {
      min-width: 500px;
    }

    .product-description {
      padding: 20px;
      max-width: 700px;
      gap: 30px;

      .name {
        font-size: 1.4rem;
      }
    }
  }
}