.cart-dropdown-container {
  border: 1px solid #e0e0e0;
  background-color: #fff;
  width: 260px;
  height: 300px;
  position: absolute;
  top: 85px;
  right: 20px;

  .checkout-btn-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    &:hover {
      background-color: #000;
    }
  }
}