#cart-dropdown {
  border: 1px solid #e0e0e0;
  background-color: #fff;
  width: 260px;
  height: 300px;
  position: absolute;
  top: 85px;
  right: 20px;

  .cart-items-container {
    height: 78%;
    padding: 10px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .empty-cart {
    padding: 20px;
    font-size: .8rem;
    display: inline-block;
    position: relative;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: var(--box-shadow);
  }

  .checkout-btn {
    position: absolute;
    padding-inline: 10px;
    width: 100%;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 768px) {
  #cart-dropdown {
    width: 300px;
    height: 340px;
  }
}