@use "../../main";

#collections {
  padding: 70px 20px;
  max-width: var(--max-width);
  margin: auto;

  h3 {
    margin-bottom: 50px;
    font-family: var(--secondary-font-thin);
    font-size: var(--heading-font-size);
    letter-spacing: 3px;
    text-align: center;
  }

  .collections-container {
    @include main.flex($direction: column);


    .collection {
      cursor: pointer;
      width: 100%;
      flex-basis: 300px;
      flex-grow: 1;
      transition: 600ms;
      position: relative;

      &:hover::after {
        content: '';
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.2);
      }

      .browse-btn {
        z-index: 2;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.8);
        @include main.absoluteCenter;

        &:hover {
          border: 1px solid #fff;
          background-color: transparent;
        }
      }

      .reel-container {
        width: 100%;
        min-height: 300px;
        height: 100%;
        overflow: hidden;
        position: relative;

        .reel {
          position: absolute;
          top: -35%;
          width: 100%;
        }
      }
    }
  }

  .cards {
    background: url('../../assets/collections/card1.jpg');

    &:hover {
      background: url('../../assets/collections/card2.png');
    }
  }

  .paper-ribbon {
    background: url('../../assets/collections/paper1.png');

    &:hover {
      background: url('../../assets/collections/paper2.jpg');
    }
  }

  .cards,
  .cards:hover,
  .paper-ribbon,
  .paper-ribbon:hover {
    background-position: center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) {
  #collections {
    .collections-container {
      flex-direction: row;
    }
  }
}

@media screen and (min-width: 1024px) {
  #collections {
    padding-inline: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .collection {
    height: 400px;
  }
}