@use "../../main";

#banner {
  max-width: min(80%, 625px);
  margin: 100px auto 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .banner-title {
    @include main.mainTitle;
  }

  p {
    font-size: .9rem;
    line-height: 2;
    margin-bottom: 70px;
  }
}

.banner-collage {
  box-sizing: border-box;
  max-height: 350px;
  width: 100%;
  padding-inline: 20px;
  max-width: var(--max-width);
  margin: auto;
}

@media screen and (min-width: 1024px) {
  .banner-collage {
    padding-inline: 40px;
  }
}