.x-line,
.x-line::after {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: 50%;
}

.x-line {
  transform: rotate(45deg);
}

.x-line::after {
  content: '';
  transform: rotate(90deg);
}

.dark,
.dark::after {
  background-color: #000;
}