@use '../../main';

#hero {
  position: relative;

  .hero-background {
    background: url("../../assets/hero.jpg");
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-position: bottom;
  }

  .hero-message-container {
    width: 80%;
    @include main.absoluteCenter;
    text-align: center;
    top: 35%;

    .hero-title {
      @include main.mainTitle;
    }

    .shop-btn {
      display: inline-block;

      &:hover {
        background-color: #000;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #hero {
    .hero-background {
      height: 90vh;
    }

    .hero-message-container {
      width: min(50%, 500px);

      .hero-title {
        font-size: 1.5rem;
        margin-bottom: 40px;
      }
    }
  }
}